#breadboard {
    width: 100%;
    height: 100%;
}

#burner-controls {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 66%;
    background: black;
}

#pagination {
    position: absolute;
    left: 50%;
    bottom: 5px;
    float: bottom;
    font-size: 10pt;
    font-weight: bold;
}

.burner-command-desc {
    text-align: center;
    color: white;
    min-height: 1em;
}

#build-circuit{
    position: absolute;
    top: 32px;
    left: 675px;
    background: lightgreen;
    border-radius: 5px;
    opacity: 0.7;
}

#active-component{
    animation: pulsate-white 1.5s infinite;
    position: absolute;
    /*layout: hidden;*/
    opacity: .6;
    background: yellow;
    border-radius: 2px;
    border: 2px solid white;
}

#active-pin{
    /*animation: pulsate-yellow .75s infinite;*/
    width: 20px;
    height: 20px;
    background: yellow;
    display: none;
    position: absolute;
    border-radius: 10px;
    /*opacity: .7;*/
    color: black;
    text-align: center;
    font-weight: bold;
    /*border: 2px solid red;*/
}

#active-component-picture {
    position: absolute;
    display: none;
    vertical-align: middle;
    text-align: center;
    top: 80%;
    width: 66%;
    height: 20%;
}

#active-component-picture img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@-webkit-keyframes pulsate-white
{
    0%   {background-color: white; opacity: .1}
    10%  {background-color: white; opacity: .12}
    20%  {background: #ccc; opacity: .25}
    30%  {background: #ccc; opacity: .35}
    40%  {background: #ccc; opacity: .45}
    50%  {background: #ccc; opacity: .5}
    60%  {background: #ccc; opacity: .45}
    70%  {background: #ccc; opacity: .35}
    80%  {background: #ccc; opacity: .25}
    95%  {background: #ccc; opacity: .12}
    100% {background: white; opacity: .1}
}

@-webkit-keyframes pulsate-yellow
{
    0%   {background-color: yellow; opacity: .1}
    10%  {background-color: yellow; opacity: .12}
    20%  {background: red; opacity: .25}
    30%  {background: red; opacity: .35}
    40%  {background: red; opacity: .45}
    50%  {background: red; opacity: .5}
    60%  {background: red; opacity: .45}
    70%  {background: red; opacity: .35}
    80%  {background: red; opacity: .25}
    95%  {background: red; opacity: .12}
    100% {background: yellow; opacity: .1}
}
